= simple_form_for @post do |f|
  = f.input :title, label: t('activerecord.attributes.post.title')
  = f.input :body, label: t('activerecord.attributes.post.body'), as: :text
  = f.submit @post.new_record? ? t('simple_form.helpers.submit.create') : t('simple_form.helpers.submit.update'), class: 'btn btn-success'